<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="ALL" />
		<!--<appender-ref ref="console" />-->
		<!--<appender-ref ref="file" />-->
	</root>
	<logger name="CredProvider.NET" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="ErrorRollingFileAppender" />
	</logger>

	<!-- Debugger -->

	<logger name="CredProvider.NET">
		<level value="DEBUG" />
		<appender-ref ref="DebugRollingFileAppender" />
	</logger>
	<appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}\\CredProvider.NET\\logs\\rolling.log"/>
		<encoding value="UTF-8" />
		<!--是否在文件中追加-->
		<appendToFile value="true"/>
		<!--按照文件的大小进行变换日志文件-->
		<rollingStyle value="Size"/>
		<!--最大变换数量-->
		<maxSizeRollBackups value="10"/>
		<!--最大文件大小-->
		<maximumFileSize value="100KB"/>
		<!--日志文件名是否为静态-->
		<staticLogFileName value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<threshold value="DEBUG" />
		<layout type="log4net.Layout.PatternLayout, log4net">
			<conversionPattern value="[%d][%p][%C][%M] %m%n%n" />
		</layout>
	</appender>
	<appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}\\CredProvider.NET\\logs\\error.log"/>
		<encoding value="UTF-8" />
		<appendToFile value="true" />
		<staticLogFileName value="true" />
		<rollingStyle value="Date" />
		<datePattern value=" yyyy-MM-dd" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<threshold value="ERROR" />
		<layout type="log4net.Layout.PatternLayout, log4net">
			<conversionPattern value="[%d][%C][%M] %m%n%n" />
		</layout>
	</appender>
</log4net>